.App {
  text-align: center;
}
.Header {
  color: white;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
.Character {
    display: grid;
    color: white;
    font-size: 3em;
    margin: 1% 0 0 0;
    font-family: 'DotGothic16', sans-serif;
    padding: 1%;
}
